<!DOCTYPE html>
<html lang="en">
<body>
  <h1 class="text-center mt-4">Bloggers on Rails</h1>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
  <%= render 'users' %>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</body>
</html>