<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" id="home-container">
    <div class="jumbotron text-white", id = "about-jumbotron">
      <h1 class="display-4">What is this webpage about</h1>
      <p class="lead">This is all about learning. Learning something new. Learn something exciting!</p>
      <p class="lead">Seriouly though. Hi, I am Lucas (aka Luke), and I love programming, I really love to face challenges and overcome them, it really is amazing</p>
      <p class="lead">And thus I am doing this application so I can learn more programming and get a job as a developer!</p>
    </div>
  </div>
</body>
</html>