<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" id="home-container">
      <div class="jumbotron text-white" id ="home-jumbotron">
        <h1 class="display-4">Welcome to Blog on Rails</h1>
        <p class="lead">Here you are able to create articles and share them with everyone.</p>
        <hr class="my-4">
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "About", about_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
</body>
</html>