<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <%= link_to 'Luke Dias - Github', 'https://github.com/HollowLukeDias', class: "text-white" %>
  </div>
</footer>